In [3]:
import pandas as pd

file_path = './data/raw/USGS.csv'

# Load only the first 10,000
df_sample = pd.read_csv(file_path, sep='\t', nrows=10000)

# Display the first 5 rows of our sample
print("--- First 5 Rows ---")
print(df_sample.head())

# Display the column names
print("\n--- Column Names ---")
print(df_sample.columns)

# Display basic info and memory usage
print("\n--- Data Info ---")
df_sample.info()

--- First 5 Rows ---
       gbifID                            datasetKey occurrenceID   kingdom  \
0  3351232530  d8cd16ba-bb74-4420-821e-083f2bac17c2     KX834062  Animalia
1  3350546437  d8cd16ba-bb74-4420-821e-083f2bac17c2     KP747142  Animalia
2  3350523583  d8cd16ba-bb74-4420-821e-083f2bac17c2     KM537872  Animalia
3  3346653217  d8cd16ba-bb74-4420-821e-083f2bac17c2     GU707474  Animalia
4  3346673384  d8cd16ba-bb74-4420-821e-083f2bac17c2     GU707475  Animalia

       phylum    class        order  family       genus  \
0  Arthropoda  Insecta  Hymenoptera  Apidae  Anthophora
1  Arthropoda  Insecta  Hymenoptera  Apidae    Ceratina
2  Arthropoda  Insecta  Hymenoptera  Apidae  Triepeolus
3  Arthropoda  Insecta  Hymenoptera  Apidae    Ceratina
4  Arthropoda  Insecta  Hymenoptera  Apidae    Ceratina

                 species  ...        identifiedBy dateIdentified    license  \
0   Anthophora villosula  ...           J. Straka            NaN  CC_BY_4_0
1     Ceratina calcarata  ...              W.A.S.            NaN  CC_BY_4_0
2  Triepeolus melanarius  ...  Molly G. Rightmyer            NaN  CC_BY_4_0
3         Ceratina dupla  ...                 NaN            NaN  CC_BY_4_0
4         Ceratina dupla  ...                 NaN            NaN  CC_BY_4_0

  rightsHolder  recordedBy typeStatus establishmentMeans  \
0          NaN         NaN        NaN                NaN
1          NaN         NaN        NaN                NaN
2          NaN     KJ Hung        NaN                NaN
3          NaN     L HOUSH        NaN                NaN
4          NaN  W JENNINGS        NaN                NaN

            lastInterpreted mediaType  \
0  2025-10-11T12:42:13.729Z       NaN
1  2025-10-11T12:41:16.792Z       NaN
2  2025-10-11T12:43:04.624Z       NaN
3  2025-10-11T12:43:32.479Z       NaN
4  2025-10-11T12:43:32.264Z       NaN

                                               issue
0  GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
1  GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
2  GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
3  GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...
4  GEODETIC_DATUM_ASSUMED_WGS84;CONTINENT_DERIVED...

[5 rows x 50 columns]

--- Column Names ---
Index(['gbifID', 'datasetKey', 'occurrenceID', 'kingdom', 'phylum', 'class',
       'order', 'family', 'genus', 'species', 'infraspecificEpithet',
       'taxonRank', 'scientificName', 'verbatimScientificName',
       'verbatimScientificNameAuthorship', 'countryCode', 'locality',
       'stateProvince', 'occurrenceStatus', 'individualCount',
       'publishingOrgKey', 'decimalLatitude', 'decimalLongitude',
       'coordinateUncertaintyInMeters', 'coordinatePrecision', 'elevation',
       'elevationAccuracy', 'depth', 'depthAccuracy', 'eventDate', 'day',
       'month', 'year', 'taxonKey', 'speciesKey', 'basisOfRecord',
       'institutionCode', 'collectionCode', 'catalogNumber', 'recordNumber',
       'identifiedBy', 'dateIdentified', 'license', 'rightsHolder',
       'recordedBy', 'typeStatus', 'establishmentMeans', 'lastInterpreted',
       'mediaType', 'issue'],
      dtype='object')

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gbifID                            10000 non-null  int64
 1   datasetKey                        10000 non-null  object
 2   occurrenceID                      10000 non-null  object
 3   kingdom                           10000 non-null  object
 4   phylum                            10000 non-null  object
 5   class                             10000 non-null  object
 6   order                             10000 non-null  object
 7   family                            10000 non-null  object
 8   genus                             9951 non-null   object
 9   species                           9259 non-null   object
 10  infraspecificEpithet              93 non-null     object
 11  taxonRank                         10000 non-null  object
 12  scientificName                    10000 non-null  object
 13  verbatimScientificName            10000 non-null  object
 14  verbatimScientificNameAuthorship  9130 non-null   object
 15  countryCode                       10000 non-null  object
 16  locality                          9777 non-null   object
 17  stateProvince                     9380 non-null   object
 18  occurrenceStatus                  10000 non-null  object
 19  individualCount                   689 non-null    float64
 20  publishingOrgKey                  10000 non-null  object
 21  decimalLatitude                   10000 non-null  float64
 22  decimalLongitude                  10000 non-null  float64
 23  coordinateUncertaintyInMeters     1 non-null      float64
 24  coordinatePrecision               0 non-null      float64
 25  elevation                         1670 non-null   float64
 26  elevationAccuracy                 0 non-null      float64
 27  depth                             21 non-null     float64
 28  depthAccuracy                     21 non-null     float64
 29  eventDate                         10000 non-null  object
 30  day                               3606 non-null   float64
 31  month                             4093 non-null   float64
 32  year                              10000 non-null  int64
 33  taxonKey                          10000 non-null  int64
 34  speciesKey                        9259 non-null   float64
 35  basisOfRecord                     10000 non-null  object
 36  institutionCode                   9386 non-null   object
 37  collectionCode                    9386 non-null   object
 38  catalogNumber                     10000 non-null  object
 39  recordNumber                      456 non-null    object
 40  identifiedBy                      5864 non-null   object
 41  dateIdentified                    104 non-null    object
 42  license                           10000 non-null  object
 43  rightsHolder                      21 non-null     object
 44  recordedBy                        9565 non-null   object
 45  typeStatus                        0 non-null      float64
 46  establishmentMeans                541 non-null    object
 47  lastInterpreted                   10000 non-null  object
 48  mediaType                         591 non-null    object
 49  issue                             10000 non-null  object
dtypes: float64(13), int64(3), object(34)
memory usage: 3.8+ MB

In [4]:
# Define the list of columns we want to keep
columns_to_keep = [
    'gbifID',
    'kingdom',
    'family',
    'genus',
    'species',
    'scientificName',
    'decimalLatitude',
    'decimalLongitude',
    'stateProvince',
    'eventDate',
    'year',
    'month',
    'day'
]
# Create an iterator to read the large file in chunks
chunk_iterator = pd.read_csv(
    file_path,
    sep='\t',
    usecols=columns_to_keep,
    chunksize=100000,
    dtype={'gbifID': 'int64', 'species': 'str'} 
)

# Combine the chunks into a single DataFrame
df_bees = pd.concat(chunk_iterator)

# Display the info of our new, smaller DataFrame
print("--- Cleaned Data Info ---")
df_bees.info()

# Display the first 5 rows of the new DataFrame
print("\n--- First 5 Rows of Cleaned Data ---")
print(df_bees.head())

--- Cleaned Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611266 entries, 0 to 611265
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gbifID            611266 non-null  int64
 1   kingdom           611266 non-null  object
 2   family            611266 non-null  object
 3   genus             607642 non-null  object
 4   species           557705 non-null  object
 5   scientificName    611266 non-null  object
 6   stateProvince     606538 non-null  object
 7   decimalLatitude   611266 non-null  float64
 8   decimalLongitude  611266 non-null  float64
 9   eventDate         611266 non-null  object
 10  day               427828 non-null  float64
 11  month             521065 non-null  float64
 12  year              611266 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 60.6+ MB

--- First 5 Rows of Cleaned Data ---
       gbifID   kingdom  family       genus                species  \
0  3351232530  Animalia  Apidae  Anthophora   Anthophora villosula
1  3350546437  Animalia  Apidae    Ceratina     Ceratina calcarata
2  3350523583  Animalia  Apidae  Triepeolus  Triepeolus melanarius
3  3346653217  Animalia  Apidae    Ceratina         Ceratina dupla
4  3346673384  Animalia  Apidae    Ceratina         Ceratina dupla

                          scientificName stateProvince  decimalLatitude  \
0       Anthophora villosula Smith, 1854           NaN            37.22
1     Ceratina calcarata Robertson, 1900           NaN            39.70
2  Triepeolus melanarius Rightmyer, 2008           NaN            32.89
3               Ceratina dupla Say, 1837           NaN            34.55
4               Ceratina dupla Say, 1837           NaN            39.89

   decimalLongitude   eventDate   day  month  year
0            -77.29  2011-04-17  17.0    4.0  2011
1            -76.88        2013   NaN    NaN  2013
2           -117.10  2013-05-23  23.0    5.0  2013
3            -80.26  2005-06-29  29.0    6.0  2005
4            -75.26  2007-05-24  24.0    5.0  2007

In [6]:
# Handle Missing Location Data
df_bees.dropna(subset=['stateProvince', 'decimalLatitude', 'decimalLongitude'], inplace=True)

# Convert to Datetime and Handle Date Errors
df_bees['eventDate'] = pd.to_datetime(df_bees['eventDate'], errors='coerce')

# Drop any rows where the date conversion failed
df_bees.dropna(subset=['eventDate'], inplace=True)

# Filter for a Relevant Time Period
df_bees = df_bees[df_bees['year'] >= 2000].copy()

# Final Check
print("--- Info After Cleaning ---")
df_bees.info()

print("\n--- First 5 Rows of Final Cleaned Data ---")
print(df_bees.head())

print("\n--- Unique States Found ---")
print(df_bees['stateProvince'].unique())

--- Info After Cleaning ---
<class 'pandas.core.frame.DataFrame'>
Index: 318498 entries, 28 to 611214
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gbifID            318498 non-null  int64
 1   kingdom           318498 non-null  object
 2   family            318498 non-null  object
 3   genus             315520 non-null  object
 4   species           284150 non-null  object
 5   scientificName    318498 non-null  object
 6   stateProvince     318498 non-null  object
 7   decimalLatitude   318498 non-null  float64
 8   decimalLongitude  318498 non-null  float64
 9   eventDate         318498 non-null  datetime64[ns]
 10  day               318498 non-null  float64
 11  month             318498 non-null  float64
 12  year              318498 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 34.0+ MB

--- First 5 Rows of Final Cleaned Data ---
         gbifID   kingdom  family      genus species scientificName  \
28   1065175706  Animalia  Apidae  Crustacea     NaN      Crustacea
29   1065175757  Animalia  Apidae  Crustacea     NaN      Crustacea
32   1065175569  Animalia  Apidae  Crustacea     NaN      Crustacea
580  1065175583  Animalia  Apidae  Crustacea     NaN      Crustacea
581  1065175461  Animalia  Apidae  Crustacea     NaN      Crustacea

    stateProvince  decimalLatitude  decimalLongitude  eventDate   day  month  \
28      Louisiana          27.7819          -91.3939 2003-09-11  11.0    9.0
29      Louisiana          28.6489          -89.0003 2003-09-16  16.0    9.0
32      Louisiana          27.7461          -91.2228 2003-09-12  12.0    9.0
580     Louisiana          27.7461          -91.2228 2003-09-12  12.0    9.0
581     Louisiana          27.7236          -91.2797 2003-09-14  14.0    9.0

     year
28   2003
29   2003
32   2003
580  2003
581  2003

--- Unique States Found ---
['Louisiana' 'California' 'Arizona' 'New Mexico' 'Indiana' 'Alaska' 'Utah'
 'Nevada' 'Montana' 'South Dakota' 'Washington' 'Oregon' 'Idaho'
 'Colorado' 'North Carolina' 'Wyoming' 'Virginia' 'Tennessee'
 'West Virginia' 'North Dakota' 'Illinois' 'Minnesota' 'Delaware'
 'South Carolina' 'Texas' 'New York' 'Maryland' 'New Jersey' 'Arkansas'
 'Michigan' 'Ohio' 'Pennsylvania' 'Nebraska' 'District of Columbia'
 'Massachusetts' 'Kentucky' 'Mississippi' 'Hawaii' 'Florida' 'Georgia'
 'Maine' 'Connecticut' 'New Hampshire' 'Oklahoma' 'Kansas' 'Iowa'
 'Missouri' 'Alabama' 'Tennesee' 'colorado' 'Colroado' 'Coloraod'
 'Coloraodo' 'Rhode Island' 'COlorado' 'Coorado' 'South Dacota'
 'MIssissippi' 'wyoming' 'Vermont' 'Wisconsin' 'Doc' 'iowa'
 'New hampshire' 'massachusetts' 'Vt' 'Il' 'District Of Columbia'
 '[Not Stated]' 'South Daokta']

In [7]:
# Correct Taxonom
# Remove the obvious non-bee records like 'Crustacea'.
df_bees = df_bees[df_bees['genus'] != 'Crustacea'].copy()


# Standardize State Names
state_mapping = {
    'colorado': 'Colorado', 'Colroado': 'Colorado', 'Coloraod': 'Colorado', 'Coloraodo': 'Colorado', 'COlorado': 'Colorado', 'Coorado': 'Colorado',
    'wyoming': 'Wyoming',
    'South Dacota': 'South Dakota', 'South Daokta': 'South Dakota',
    'MIssissippi': 'Mississippi',
    'iowa': 'Iowa',
    'New hampshire': 'New Hampshire',
    'massachusetts': 'Massachusetts',
    'Vt': 'Vermont',
    'Il': 'Illinois',
    'Doc': 'District of Columbia', 'District Of Columbia': 'District of Columbia'
}

# Apply the mapping to fix the specific errors
df_bees['stateProvince'] = df_bees['stateProvince'].replace(state_mapping)

# Convert the whole column to title case to fix general capitalization issues
df_bees['stateProvince'] = df_bees['stateProvince'].str.title()

# Remove any rows with invalid state entries
invalid_states = ['[Not Stated]', 'Nan'] # 'Nan' can sometimes appear after cleaning
df_bees = df_bees[~df_bees['stateProvince'].isin(invalid_states)]

# Final Check ---
print("--- Info After Final Standardization ---")
df_bees.info()

print("\n--- Unique States After Standardization ---")
print(sorted(df_bees['stateProvince'].unique()))

--- Info After Final Standardization ---
<class 'pandas.core.frame.DataFrame'>
Index: 318457 entries, 641 to 611214
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   gbifID            318457 non-null  int64
 1   kingdom           318457 non-null  object
 2   family            318457 non-null  object
 3   genus             315479 non-null  object
 4   species           284149 non-null  object
 5   scientificName    318457 non-null  object
 6   stateProvince     318457 non-null  object
 7   decimalLatitude   318457 non-null  float64
 8   decimalLongitude  318457 non-null  float64
 9   eventDate         318457 non-null  datetime64[ns]
 10  day               318457 non-null  float64
 11  month             318457 non-null  float64
 12  year              318457 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 34.0+ MB

--- Unique States After Standardization ---
['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennesee', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']

In [8]:
# Fix the typo for 'Tennessee'
df_bees['stateProvince'] = df_bees['stateProvince'].replace({'Tennesee': 'Tennessee'})

# Save our cleaned data to a new, smaller CSV file.
df_bees.to_csv('cleaned_usgs_bee_data.csv', index=False)

print("--- Preprocessing Complete! ---")
print("Cleaned data has been saved to 'cleaned_usgs_bee_data.csv'")

--- Preprocessing Complete! ---
Cleaned data has been saved to 'cleaned_usgs_bee_data.csv'